Adam Wachowicz

SubMetric: Parking prices per neighborhood. 
Description: I will determine the price of parking per neighbor hood in order to determine the cheapest neighborhoods for parking. 
I may also determine which neighborhoods that are cheap in parking are close to other neighborhoods the people who live there might visit.
This would allow us to assume what the average person might pay for parking if they live in that area.

In [142]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

park = pd.read_csv("parking.tsv", sep="\t")
mask = ~park['rate'].isnull()
masked_park = park[mask]
masked_park.iloc[0:5,0:]
#print(masked_park[['zone', 'rate']].sample(15))
df= masked_park[masked_park['rate']!="Multi-Rate"]
df.loc[0:,'rate'] = df.loc[0:,'rate'].replace({'\$': '', ',': '','/hr':'', '2 after 2pm':'','\(':'','\)':'','2.50 after 2pm':'',}, regex=True).astype(float)
df.loc[df['zone'].str.contains('Oakland'),'zone'] = 'Oakland'
df.loc[df['zone'].str.contains('Squirrel Hill'),'zone'] = 'Squirrel Hill'
df.loc[df['zone'].str.contains('SS & SSW'),'zone'] = 'SS & SSW'
df.loc[df['zone'].str.contains('Downtown'),'zone'] = 'Downtown'
df.loc[df['zone'].str.contains('Allentown'),'zone'] = 'Allentown'
df.loc[df['zone'].str.contains('Bloomfield'),'zone'] = 'Bloomfield'
df.loc[df['zone'].str.contains('Shadyside'),'zone'] = 'Shadyside'
df.loc[df['zone'].str.contains('NorthSide'),'zone'] = 'Northside'
df.loc[df['zone'].str.contains('Lawrenceville'),'zone'] = 'Lawrenceville'
df.loc[df['zone'].str.contains('Uptown'),'zone'] = 'Uptown'
df.loc[df['zone'].str.contains('Strip Disctrict'),'zone'] = 'Strip District'
df.loc[df['zone'].str.contains('Mellon Park'),'zone'] = 'Mellon Park'
df.loc[df['zone'].str.contains('Mt. Washington'),'zone'] = 'Mt. Washington'
df.loc[df['zone'].str.contains('Northshore'),'zone'] = 'Northshore'
df.loc[df['zone'].str.contains('Carrick'),'zone'] = 'Carrick'
df.loc[df['zone'].str.contains('Brookline'),'zone'] = 'Brookline'
df.loc[df['zone'].str.contains('Sheridan Kirkwood Lot'),'zone'] = 'East Liberty'
df.loc[df['zone'].str.contains('Hill District'),'zone'] = 'Hill District'
df.loc[df['zone'].str.contains('Beacon Bartlett Lot'),'zone'] = 'Squirrel Hill'
df.loc[df['zone'].str.contains('Sidney Lot'),'zone'] = 'SS & SSW'
df.loc[df['zone'].str.contains('Carson'),'zone'] = 'SS & SSW'
df.loc[df['zone'].str.contains('Beechview'),'zone'] = 'Beechview'
df.loc[df['zone'].str.contains('East Liberty'),'zone'] = 'East Liberty'
df.loc[df['zone'].str.contains('West End'),'zone'] = 'West End'
df.loc[df['zone'].str.contains('Knoxville'),'zone'] = 'Knoxville'
df.loc[df['zone'].str.contains('Bakery Square'),'zone'] = 'Bakery Square'

df = df[df["zone"].str.contains("Lot") == False]


df2.drop_duplicates(subset=['zone', 'rate'], keep='last')

df=df.sort_values('rate')
df2 = df[['zone','rate']]
df2 = df2.drop_duplicates(subset=['zone','rate'])

#print(df[['zone', 'rate']])

#df.plot(x ='zone', y='rate', kind = 'scatter', figsize=(10,10))
#df.plot.bar(x = 'zone', y ='rate', figsize=(15,3))
df2

                 zone  rate
407           Carrick  0.50
119         Allentown  0.50
571         Northside  1.00
573    Mt. Washington  1.00
574         Brookline  1.00
583        Bloomfield  1.00
536      East Liberty  1.00
524     Hill District  1.00
677     Lawrenceville  1.00
661          West End  1.00
640          SS & SSW  1.00
610         Beechview  1.00
501     Squirrel Hill  1.00
363       Mellon Park  1.00
416           Oakland  1.00
1169        Knoxville  1.00
691          SS & SSW  1.50
1044     East Liberty  1.50
731            Uptown  1.50
1032        Shadyside  1.50
694     Squirrel Hill  1.50
133    Strip District  1.50
614           Oakland  1.50
1042          Oakland  1.75
432   425 - Bakery Sq  2.00
1103          Oakland  2.00
1207          Oakland  2.50
1082          Oakland  3.00
1093       Northshore  3.00
1217         Downtown  4.00